@media screen and (max-width:800px) {
    /* body {
        background: teal;
    } */

    .dis_block {
        display: block !important;
        margin: 10px;
        padding: 5px 8px;
        background: #00000070;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    nav {
        position: absolute;
        flex-direction: column;
        top: 5rem;
        right: 0;
        background: #232525;
        height: 0vh;
        justify-content: center;
        z-index: 10;
        overflow: hidden;
        transition: 1.5s all ease;
    }

    header>div:nth-child(1)>.Container {
        justify-content: space-between;
    }

    #menu_chk_box:checked~nav {
        height: 100vh;
    }

    #menu_chk_box:not(:checked)~nav {
        height: 0vh
    }

    .card_section {
        flex-wrap: wrap;
    }

    .card {
        width: 40%;
    }

    .profile_det {
        padding: 0rem;
    }
}


@media screen and (max-width:676px) {
    .Hair_Stylish_Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 90px !important;
    }

    .Offers_Profile_Section {
        display: none;
    }
}

@media screen and (max-width:900px) {
    .Sec5_Container>div:nth-child(1)>div:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width:956px) {
    form.Appointment_form {
        padding: 0rem;
    }
}

@media screen and (max-width:892px) {
    .Form_Time_section {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .Time_Day_Section {
        width: 100%;
    }

    .Form_Section {
        width: 100%;
    }
}

@media screen and (max-width:494px) {
    .wid_100_in {
        width: 100%;
        font-size: 1.9rem;
    }

    header>div:nth-child(2) {
        padding: 27% 2%;
    }

    .Shop_Details {
        gap: 2.5rem;
    }

    .card {
        width: 90%;
    }

    input_bg_change {
        font-size: 1.1rem;
    }
}



@media screen and (max-width:390px) {
    .Shop_Details {
        flex-direction: column;
    }

    .Barber_Shop_report {
        flex-direction: column;
    }

    .Emp_Card {
        padding: 10px;
        width: 12em;
        border: 1px solid gray;
        text-align: center;
        margin: 0.5rem;
        border-radius: 10px;
        box-shadow: 1px 1px 9px gray;

    }
}